@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
}
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 80px;
  align-items: center;
  background: rgba(89, 0, 255, 0.397);
}
.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: white;
  font-family: "Inter", sans-serif;
  flex: 1;
}
.menu {
  flex: 1.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  margin: 29px;
}
.icons {
  /* height: 32px; */
  /* width: 32px; */
  border-radius: 100%;
  display: flex;
  align-items: center;
}
.icon-bg {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background: crimson;
  color: aqua;
  margin: 10px;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 300px;
  background: rgba(89, 0, 255, 0.397);
}
.banner-img {
  background: url(images/danieldelf.jpg);
  height: 650px;
  width: 700px;
  object-fit: cover;
  border-radius: 0 100% 100% 0;
  background-size: cover;
  background-position: center;
}
.banner-text {
  padding-right: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  min-height: 450px;
  padding-left: 5%;
}
.banner-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 76px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-family: "Mulish", sans-serif;
  letter-spacing: 1.8px;
  color: #fff;
}
.banner-text span {
  max-width: 400px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 42px;
  margin-bottom: 50px;
  text-transform: capitalize;
  font-family: "Mulish", sans-serif;
  color: #fff;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 14px 38px;
  background: rgba(89, 0, 255, 0.397);
  text-align: center;
  transition: all 0.5s ease 0s;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
}
.service-container {
  display: grid;
  min-height: 550px;
  font-family: "Mulish:", sans-serif;
  box-sizing: inherit;
}
.service-container .title {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px;
  color: rgb(220, 20, 113);
  text-transform: capitalize;
  transition: all 0.5s ease-in 0s;
  display: grid;
}
.service-tag {
  display: grid;
  color: #fff;
  background: #fff;
  margin: 0px 7%;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
  -moz-box-pack: center;
  justify-content: center;
  padding: 38px 25px 45px;
  min-height: 400px;
  opacity: 1;
  box-sizing: inherit;
  text-align: center;
}
.service-tag img {
  justify-self: center;
  transition: all 0.5s ease-in 0s;
  border-style: none;
  box-sizing: inherit;
  font-family: "Mulish:", sans-serif;
  margin-top: -50px;
}
.service-tag h3 {
  color: rgb(220, 20, 113);
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.service-tag span {
  font-size: min(1.45rem, 16.4px);
  font-weight: 600;
  font-family: "Mulish:", sans-serif;
}
.service-tag .desc {
  text-transform: capitalize;
  color: rgba(89, 0, 255, 0.397);
}
.service-tag div {
  min-height: 313.6px;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1.8px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
